.intro{
  color:black;
  text-align: center;
  background-color: green;
  padding: 50px;




}
.me{
background-color: #fff;
text-align: left;
color: black;
padding: 50px;


}
.taha{
  background-color:#fff;
  text-align: left;
  color: #fff;
 perspective:
s}
